<head>
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/footer.css" />
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script language="javascript" src="/jquery/dist/jquery.min.js"></script>
</head>

<div class="container-fluid iconsBar">
  <div class="columnTwo">
    <a href="https://github.com/sdilby"><span>
      <i class="fa fa-github fa-2x" aria-hidden="true"></i></span></a>
  </div>
  <div class="columnFour">
    <a href="https://www.freecodecamp.org/sdilby"><span>
      <i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></span></a>
  </div>
  <div class="columnSix">
    <a href="https://www.linkedin.com/in/sdilbert/"><span>
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></span></a>
  </div>
  <div class="developedBy">
    <span>Created by Steven Dilbert {{getCurrentYear}}</span>
  </div>
</div>
