<head>
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/footer.css" />
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
</head>

<div class="iconsBar">
  <div class="columnTwo">
    <span><i class="fa fa-github fa-2x" aria-hidden="true"></i></span>
  </div>
  <div class="columnFour">
    <span><i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></span>
  </div>
  <div class="columnSix">
    <span><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></span>
  </div>
  <div class="developedBy">
    <span>Created by Steven Dilbert {{getCurrentYear}}</span>
  </div>
</div>
