<projectCard>
  <head>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/projectCard.css" />
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script language="javascript" src="jquery.min.js"></script>
    <script language="javascript" src="popper.min.js"></script>
  </head>

  <a href="github.com">
    <div class="card container" style="width: 18rem;">
      <img class="card-body" src="css/img/projectImage.jpg" alt="Project Image">
      <div class="middle">
        <div class="text">HTML, CSS, Javascript, CSS Grid</div>
      </div>
    </div>
  </a>
</projectCard>
