<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/contact.css" />
  </head>
  <body>
    <div class="app">
      <div class="contentContainer">
        <div class="navMenu">
          {{> header}}
        </div>
        <div class="sidebarLeft">
          <!--Add sidebarLeft variable for navigation -->
        </div>
        <div class="content jumbotron">
          <div class="container">
            <h1 class="text-center text-uppercase font-bold contactMe">contact me</h1>
            <p class="text-center font-italic">If my internet works, I'll email you back. Gracias.</p>
            <form action="/contact" id="contact-form" method="POST" role="form">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required="required">
              </div>
              <div class="form-group">
                <label for="subject">Email subject</label>
                <input type="subject" class="form-control" id="subject" name="subject" placeholder="Can I offer you a job?" required="required">
              </div>
              <div class="form-group">
                <label for="message">What's on your mind?</label>
                <textarea class="form-control" id="message" name="message" rows="3" placeholder="When can you start?" required="required"></textarea>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
          <div class="sidebarRight">
            <!--Add sidebarRight variable for navigation -->
          </div>
        <div class="footer">
          {{> footer}}
        </div>
      </div>
    </div>
  </body>
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script language="javascript" src="jquery.min.js"></script>
  <script language="javascript" src="popper.min.js"></script>
</html>
