<head>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>

<div>
  <br>
    <h1 class="text-center">Sorry, I'm still working on this page and I'm kind of a noob.</h1>
    <hr>
    <h1 class="text-center">Please email me at dilbertsteven@gmail.com</h1>
  <br>
</div>
<div class="d-flex justify-content-center">
  <a class="btn btn-primary border-dark" id="enter" href="/" size="lg" type="button">Return Home</a>
</div>
