<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/contact.css" />
  </head>
  <body>
    <div class="app">
      <div class="contentContainer">
        <div class="navMenu">
          {{> header}}
        </div>
        <div class="sidebarLeft">
          <!--Add sidebarLeft variable for navigation -->
        </div>
        <div class="content jumbotron">
          <div class="container">
            <h1 class="text-center text-uppercase font-bold contactMe">contact me</h1>
            <p class="text-center font-italic">If my internet works, I'll email you back. Gracias.</p>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email subject</label>
                <input type="subject" class="form-control" id="exampleFormControlInput1" placeholder="Can I offer you a job?">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">What's on your mind?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write me some stuff."></textarea>
              </div>
            </form>
          </div>
        </div>
          <div class="sidebarRight">
            <!--Add sidebarRight variable for navigation -->
          </div>
        <div class="footer">
          {{> footer}}
        </div>
      </div>
    </div>
  </body>
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script language="javascript" src="jquery.min.js"></script>
  <script language="javascript" src="popper.min.js"></script>
</html>
