<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
  </head>
  <body>
    <div class="app">
      <div class="contentContainer">
          <div class="navMenu">
            {{>header}}
          </div>
          <div class="sidebarLeft">
            <!--Add sidebarLeft variable for navigation -->
          </div>
          <div class="content">
            <div>
              <p class="welcome"> Welcome to my portfolio page. </p>
              <p class="clickBelow"> I've been learning Javascript, Python, and Spanish for 7 months
                while living abroad in Mexico.</p>
                <div class="d-flex justify-content-center">
                  <a class="btn" id="enter" href="/projects" size="lg" type="button">Take a Look</a>
                </div>
            </div>
          </div>
            <div class="sidebarRight">
              <!--Add sideBarRight variable for navigation -->
            </div>
          <div class="footer">
            {{>footer}}
          </div>
      </div>
    </div>
  </body>
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script language="javascript" src="jquery.min.js"></script>
  <script language="javascript" src="popper.min.js"></script>
</html>
