<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/projects.css" />
  </head>
  <body>
    <div class="app">
      <div class="contentContainer">
        <div class="navMenu">
          {{> header}}
        </div>
        <div class="sidebarLeft">
          <!--Add sidebarLeft variable for navigation -->
        </div>
        <div class="content jumbotron jumbotron-fluid">
          <h2 class="text-center">My Projects</h2>
          <br>
          <div id="projectsGrid">
            <a href="github.com">
              <div class="card container">Annie Lou's Pet Sitting Service
                <div class="overlay">
                  <div class="text">HTML5, CSS(SASS), React, Javascript, Bootstrap</div>
                </div>
              </div>
            </a>
            <a href="github.com">
              <div class="card container">Alien Invaders (Python Game)
                <div class="overlay">
                  <div class="text">Python, Pygame</div>
                </div>
              </div>
            </a>
            <div>
              <a href="github.com">
                <div class="card container">Memory Game (Javascript Game)
                  <div class="overlay">
                    <div class="text">HTML5, Javascript, Jquery</div>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="github.com">
                <div class="card container">Data Visualization (Python)
                  <div class="overlay">
                    <div class="text">MongoDB, Python, Pygal</div>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="github.com">
                <div class="card container">Portfolio Page
                  <div class="overlay">
                    <div class="text">HTML5, CSS & CSS Grid, Node, Express, Bootstrap</div>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="github.com">
                <div class="card container">Work in Progress
                  <div class="overlay">
                    <div class="text">Coming soon..</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
          <div class="sidebarRight">
            <!--Add sidebarRight variable for navigation -->
          </div>
        <div class="footer">
          {{> footer}}
        </div>
      </div>
    </div>
  </body>
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script language="javascript" src="jquery.min.js"></script>
  <script language="javascript" src="popper.min.js"></script>
</html>
