<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/projects.css" />
  </head>
  <body>
    <div class="app">
      <div class="contentContainer">
        <div class="navMenu">
          {{> header}}
        </div>
        <div class="sidebarLeft">
          <!--Add sidebarLeft variable for navigation -->
        </div>
        <div class="content jumbotron jumbotron-fluid">
          <h2 class="text-center">My Projects</h2>
          <hr>
          <div id="projectsGrid">
            <a href="https://github.com/JTP709/annieloupss">
              <div>
                <div class="text-dark text-center font-weight-bold">Annie Lou's Pet Sitting Service</div>
                <div class="card container" id="itemOne">
                  <div class="overlay">
                    <div class="text">HTML, CSS(SASS), React, Node, Javascript, Bootstrap</div>
                  </div>
                </div>
              </div>
            </a>
            <a href="https://github.com/sdilby/alien_invasion">
              <div>
                <div class="text-dark text-center font-weight-bold">Alien Invaders</div>
                  <div class="card container" id="itemTwo">
                    <div class="overlay">
                      <div class="text">Python, Pygame</div>
                    </div>
                  </div>
              </div>
            </a>
              <a href="https://github.com/sdilby/Memory-Game">
                <div>
                  <div class="text-dark text-center font-weight-bold">Memory Game</div>
                    <div class="card container" id="itemThree">
                      <div class="overlay">
                        <div class="text">HTML, Javascript(ES6), jQuery</div>
                      </div>
                    </div>
              </div>
            </a>
              <a href="https://github.com/sdilby/worldPopDataVis">
                <div>
                  <div class="text-dark text-center font-weight-bold">Data Visualization</div>
                    <div class="card container" id="itemFour">
                      <div class="overlay">
                        <div class="text">Python, Pygal</div>
                      </div>
                  </div>
                </div>
              </a>
              <a href="github.com">
                <div>
                  <div class="text-dark text-center font-weight-bold">Portfolio Page</div>
                    <div class="card container" id="itemFive">
                      <div class="overlay">
                        <div class="text">HTML, CSS & CSS Grid, Javascript(ES6), Node, Express, Bootstrap</div>
                      </div>
                    </div>
                </div>
              </a>
              <a href="https://github.com/sdilby/Learning_log">
                <div>
                  <div class="text-dark text-center font-weight-bold">Learning Log</div>
                    <div class="card container" id="itemSix">
                      <div class="overlay">
                        <div class="text">HTML, Python, Django, Bootstrap</div>
                      </div>
                    </div>
                  </div>
              </a>
            </div>
          </div>
          <div class="sidebarRight">
            <!--Add sidebarRight variable for navigation -->
          </div>
        <div class="footer">
          {{> footer}}
        </div>
      </div>
    </div>
  </body>
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script language="javascript" src="jquery.min.js"></script>
  <script language="javascript" src="popper.min.js"></script>
</html>
