<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/projects.css" />
  </head>
  <body>
    <div class="app">
      <div class="contentContainer">
        <div class="navMenu">
          {{> header}}
        </div>
        <div class="sidebarLeft">
          <!--Add sidebarLeft variable for navigation -->
        </div>
        <div class="content jumbotron jumbotron-fluid">
          <h2 class="text-center">My Projects</h2>
          <br>
          <div id="projectsGrid">
            <div>
              {{>projectCard}}
            </div>
            <div>
              {{>projectCard}}
            </div>
            <div>
              {{>projectCard}}
            </div>
            <div>
              {{>projectCard}}
            </div>
            <div>
              {{>projectCard}}
            </div>
            <div>
              {{>projectCard}}
            </div>
          </div>
        </div>
          <div class="sidebarRight">
            <!--Add sidebarRight variable for navigation -->
          </div>
        <div class="footer">
          {{> footer}}
        </div>
      </div>
    </div>
  </body>
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script language="javascript" src="jquery.min.js"></script>
  <script language="javascript" src="popper.min.js"></script>
</html>
