h4 {
  text-align: justify;
}

.contentContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
  height: 100vh;
  grid-template-areas:
    "navMenu      navMenu   navMenu"
    "sidebarLeft  content   sidebarRight"
    "sidebarLeft  content   sidebarRight"
    "sidebarLeft  content   sidebarRight"
    "footer       footer    footer"
}

.container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 8fr 1fr 3fr;
  grid-template-rows: auto;
  height: 100%;
  grid-template-areas:
    "description . profilePicture"
}

.description {
  grid-area: description;
  display: block;
  margin: auto;
}

.profilePicture {
  grid-area: profilePicture;
  display: block;
  margin: auto;
}

img {
  max-width:100%;
  max-height: auto;
}

p {
  text-align: center;
}

.navMenu {
  grid-area: navMenu;
  margin: 0px 10px 0px;
  background: #322a61;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
}

.sidebarLeft {
  grid-area: sidebarLeft;
}

.navArrowLeft {
  height: 10px;
  width: 10px;
}

.content {
  grid-area: content;
  height: 100%;
}

.sidebarRight {
  grid-area: sidebarRight;
}

.footer {
  grid-area: footer;
  background-color: #322a61;
}



@media (max-width: 768px) {

  .contentContainer {
    display: grid;
    grid-gap: 0;
    background-color: white;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
      "navMenu"
      "content"
      "footer"
  }

  .container {
    display: grid;
    background-color: #eeeeee;
    grid-gap: 0px;
    grid-template-columns: 12fr;
    grid-template-rows: auto;
    height: 100%;
    grid-template-areas:
      "description"
      "."
      "profilePicture"
  }

  h4 {
    text-align: left;
  }

  .navMenu {
    margin: 0;
  }

  .sidebarLeft, .sidebarRight{
    display: none;
  }

  .content {
    width: 100vw;
  }
