body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app {
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgba(90, 90, 155, .7);
}

.contentContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
  height: 100vh;
  grid-template-areas:
    "navMenu      navMenu   navMenu"
    "sidebarLeft  content   sidebarRight"
    "sidebarLeft  content   sidebarRight"
    "sidebarLeft  content   sidebarRight"
    "footer       footer    footer"
}

.navMenu {
  grid-area: navMenu;
  margin: 0px 10px 0px;
  background: #322a61;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
}

.sidebarLeft {
  grid-area: sidebarLeft;
}

.navArrowLeft {
  height: 10px;
  width: 10px;
}

.content {
  padding-top: 20px;
  grid-area: content;
}

.welcome {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  margin-top: 5vh;
}

.clickBelow {
  color: white;
  display: block;
  max-width: 90vw;
  text-align: center;
  font-size: 35px;
  margin: 6vh auto;
}

#enter {
  text-transform: uppercase;
  background-color: rgba(50,42,97, 0.7);
  font-size: 30px;
  color: white;
  border: 2px solid white;
  padding: 20px;
  margin: auto;
}

.sidebarRight {
  grid-area: sidebarRight;
}

.footer {
  grid-area: footer;
  background: #322a61;
}


@media (max-width: 768px) {

  .contentContainer {
    background-image: url("./img/bgMobile.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(50, 70, 155, .6);
    background-size: 100% 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
      "navMenu"
      "content"
      "footer"
  }

  .navMenu {
    margin: 0;
  }

  .sidebarLeft, .sidebarRight{
    display: none;
  }

  .content {
    width: 100vw;
  }

  .welcome {
    margin-top: 1vh;
    font-size: 7vw;
  }

  .clickBelow {
    font-size: 5vw;
  }

  #enter {
    font-size: 5vw;
  }
}
