* {
  font-family: 'Lora', serif;
}

a{
  text-decoration: none;
  color: white;
}

a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none !important;
  color: #7f7f7f !important;
}

.devName {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

.about, .contact, .projects, .blog {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0px 0px 0px;
}


@media (max-width: 768px) {
  .content {
    width: 100%;
  }

  .devName {
    font-size: 5vw;
  }

  .jobTitle {
    display: none;
  }
}
