body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contentContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
  height: 100vh;
  grid-template-areas:
    "navMenu      navMenu   navMenu"
    "sidebarLeft  content   sidebarRight"
    "sidebarLeft  content   sidebarRight"
    "sidebarLeft  content   sidebarRight"
    "footer       footer    footer"
}

.navMenu {
  grid-area: navMenu;
  margin: 0px 10px 0px;
  background: #322a61;
  height: 100%;
}

.sidebarLeft {
  grid-area: sidebarLeft;
}

.navArrowLeft {
  height: 10px;
  width: 10px;
}

.content {
  padding-top: 0px;
  grid-area: content;
}

.jumbotron {
  margin-top: 0px;
  padding: 10px 0px 0px 0px !important;
}

#projectsGrid {
  display: grid;
  margin-top: 0px;
  margin-bottom: 20px;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 18rem));
  justify-content: center;
}

.item {
  border: 2px solid black;
}

.container {
  height: 196px;
  width: auto;
  display: block;
  margin: auto;
}

hr {
  width: 90%;
}

#itemOne {
  background-image: url("./img/annielous.jpg");
  background-size: 100% 100%;
}

#itemTwo {
  background-image: url("./img/alienInvasion.jpg");
  background-size: 100% 100%;
}

#itemThree {
  background-image: url("./img/memory_game.jpg");
  background-size: 100% 100%;
}

#itemFour {
  background-image: url("./img/dataVis.jpg");
  background-size: 100% 100%;
}

#itemFive {
  background-image: url("./img/portfolio.jpg");
  background-size: 100% 100%;
}

#itemSix {
  background-image: url("./img/Learning_log.jpg");
  background-size: 100% 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #322a61;
}

.container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sidebarRight {
  grid-area: sidebarRight;
}

.footer {
  grid-area: footer;
  background-color: #322a61;
}



@media (max-width: 768px) {

  .contentContainer {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
      "navMenu"
      "content"
      "footer"
  }

  .navMenu {
    margin: 0;
  }

  .sidebarLeft, .sidebarRight{
    display: none;
  }

  .content {
    width: 100vw;
  }

  #projectsGrid {
    display: grid;
    margin-top: 0px;
    margin-bottom: 20px;
  }
